html,body {
    margin: 0;
    height: 100%;
}

.header {
    background-color: black;
    color: orange;
    font-family: 'Freemono', monospace;
    font-size: 20px;
    display:flex;
    justify-content: center;
    padding: 10px;
}

body {    
    display:flex;
    flex-direction: column;
    color: white;
    background-color: #15253f;
    font-family: 'roboto', arial, sans-serif;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info-result {
    align-self: center;
}

.info-reason {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    display:flex;
    gap: 10em;
}

.scorebox {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.points {
    font-size:larger;
    font-weight: bold;
}

.sign {
    font-size: 5em;
}

.rounded-square {
    height: 150px;
    width: 150px;
    border-radius:20px;
    margin: 0 4em;
    cursor:pointer;
}

button:hover {
    background-color: #D3D3D3;
}

.footer {
    margin-top: auto;
    display:flex;
    justify-content:center;
    padding: 10px 0px;
}

.footer a {
    font-size: 20px;
    color: white;
}

#end-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 300px;
    border-radius:20px;
    background-color: #03a89e;
    color: black;
    opacity: 90%;
    visibility: hidden;
    overflow: auto;
    font-size:30px;
    gap: 0px;
  }

  #restart {
      height: 70px;
      width: 120px;
      border-radius:10px;
      margin-bottom: 10px;
      color: #15253f;
      background-color: white;
  }

  #restart:hover {
    background-color: #D3D3D3;
}